/* FUENTES */

@import url("https://p.typekit.net/p.css?s=1&k=ryc8beu&ht=tk&f=14032.14034.14036.21512&a=2153897&app=typekit&e=css");

  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
  }

	@font-face {
	font-family:"aktiv-grotesk-medium";
	src:url("https://use.typekit.net/af/c11a71/000000000000000077359d5e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/c11a71/000000000000000077359d5e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/c11a71/000000000000000077359d5e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
	font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
	}

  @font-face {
  font-family:"aktiv-grotesk-bold";
  src:url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
  }
  
  @font-face {
  font-family:"aktiv-grotesk-light";
  src:url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;
  }
  
  @font-face {
  font-family:"aktiv-grotesk-thin";
  src:url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:200;
  }
  
.tk-aktiv-grotesk { font-family: "aktiv-grotesk",sans-serif; } 
  
/* GENERALES */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 

} 

body{
  font-family:"aktiv-grotesk", sans-serif;
  font-weight:normal;
  margin:0 ;
  padding: 0; 
  overflow-x: hidden;
	font-size:16px;
	line-height:1.4;
	height: 100%;
	background:#f7f5f5;
} 
button,
button:focus,
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
		-moz-box-shadow: none;
-goog-ms-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
 outline: none;
 outline: none;
box-shadow:none !important;
}
 
/*------------------
 texto
-------------------- */

h4{
font-size: 16px;
    line-height: 1.5;
}


h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

i {
    font-style: italic;
}

p {
	font-size:18px;
}
/*------------------
 HEDEAR
-------------------- */
.brand {
	width:100px;
	height:50px;
}
.brand  a{
	width:100%;
		height:50px;

    display: block;
    background: url('../img/fundar.svg') center no-repeat;
    background-size: contain;	
		text-indent:-9999px;
}

#site-header {
     height: 80px;
    background: transparent;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    display: flex;
    justify-content: space-between;
}

#site-header.hide {
    top: -80px;
}

#site-header.menu-bg {
    background: #231f20;
    border-bottom: 2px solid #fff;
}


#site-header.menu-bg .brand  a{
    background: url('../img/fundar-white.svg') center no-repeat;
    background-size: contain;	
 }
 

 
@media screen and (max-width: 991px) {
	#site-header {
		border-bottom:1px solid #e6e7e8;
		margin-bottom:20px
	}
	
}
 
label{
    width: 100%;
    display: block;
}
input{
    width: 100%;
    display: block;
}


mark{
		background-color: #ffdd4b;
		cursor:context-menu;
}

mark[data-autor="fundar"]{
    background-color: #dde1ff;
}

mark[data-autor="fundar"].highLight{
    background-color: #8d9bff;
}
/* .comentario[data-autor="fundar"]{
    border: solid 2px #8d9bff;
    background-color: white;
} */

mark[data-autor="am"]{
    background-color: rgb(235, 111, 142);
}
/* .comentario[data-autor="am"]{
    border: solid 2px rgb(136, 23, 51);
    background-color: white;
} */

mark[data-autor="ab"]{
    background-color: rgb(222, 126, 225);
}

/* .comentario[data-autor="ab"]{
    border: solid 2px rgb(183, 72, 186);
    background-color: white;
} */

.autor-name{
	margin-bottom:10px;
	display:flex;
	align-items:center;
}

.autor-name span {
	font-family:"aktiv-grotesk-medium";
}

.icon{
    border-radius:100%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: #ffdd4b;
    text-align: center;
		overflow:hidden;
		margin-right:10px;
}

[data-autor="fundar"] .icon {
    background-color: #fff;
    border: 1px solid black;
    padding: 0 5px;
}

.containerLey{
    width: 100vmin;
    background-color: #ffffff;
    padding: 50px 20px; 
}
.containerLey p{
 font-size: 22px;
 font-family: 'Crimson Pro', serif;
    }

.containerComment{
    display: hidden;
}


.sliderContainerComment{
    position: fixed;
    bottom: 0px;
}


.comentario{
    display: none;
}


.displayComment{
    display: block !important;
}

.sidebar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

aside,
aside .sidebar{
		width:100%;
		background:#f7f5f5;
}


.btn {
	border:0;
/* 	border-top:1px solid black; */
	border-bottom:1px solid black;
	background:transparent;
	padding:10px;
	border-radius:0;
	width:100%;
	text-align:left;
		font-family:"aktiv-grotesk-medium";
	font-size:14px;	

} 

.dropdown-menu {
    width: 100%;
    min-width: auto;
    background: #f7f5f5;
    border: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 0;
}

.nav-item {
    display: block;
    width: 100%;
    padding: 8px 0px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.nav-item:hover,
.nav-item:focus {
	color:#8d9bff;
	text-decoration:none;
}


.agrupaDrop {
	display:flex;
	flex-wrap:wrap;
}

.agrupaDrop .dropdownArt,
.agrupaDrop .dropdownReacciones{
	
	width:50%;
}

.navbar-toggler { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-collapse { 
    align-items: flex-start;
}

/*-----------------------------------------

	slider
	
---------------------------------------------*/
.hide{
    display:none !important
}
.show{
    display: block !important;
}

.slider{
	padding:10px;
}

.slide{
    background-color:#f7f5f5 ;
		text-decoration:none!important;
		color:#000;
}
.slide:hover,
.slide:focus {
	color:#000;
}
 .slide .icon{
	 margin-bottom:10px;
 }
 
#slideContainer{
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: #f7f5f5;
	border-top:4px solid #e6e7e8;	
}


#sliderControl { 
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.slide.slick-slide p ,
.slide.slick-slide a
.slide.slick-slide p a{
	font-size:16px;
}

.sliderButtons {
	position:relative;
	padding:10px;
		border-bottom:1px solid #e6e7e8;	

}
.closeSlider {
	width:30px;
	height:30px;
	position:absolute;
	right:10px;
	top:10px;
}

.slider__counter {
	color:#a7a9ac;
	font-size:14px;
}
.autores{
	padding:10px;
	margin:0;
}

.autores li {
	display:flex;
	margin-right:10px;
	align-items:center;
}	
.autores li .icon{
	margin:0 10px 10px 0;
}	

/*reacciones*/
.reacciones li{
	    display: flex;
    justify-content: space-between;
		padding:10px 0;
		border-bottom:1px solid #1d1d1b
}

.reaccionesControl{
	display:flex;
	align-items:center;
}

.reaccionesControl button{
	width:30%;
	border-radius:100%;
	background:transparent;
	border:0;
	box-shadow:none;
	-moz-box-shadow: none;
-goog-ms-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

/*------------------------
DESK
--------------------------*/

@media only screen and (min-width: 992px) {

#site-header {
    height: 120px;
    background: transparent;
    top: 0;
    padding: 30px 60px 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    display: flex;
    justify-content: space-between;
}

h1 {
	font-size:48px;
	margin-bottom:40px;
}
h4{
font-size: 18px;
    line-height: 1.5;
}

	#main {
		position:relative;
		padding:30px;
		width:100%;
		display:flex;
		flex-wrap:wrap;
	}

aside{
		width:150px;
		padding-left:30px;
}
	
section.content {
    width: calc(100% - 150px);
    position: relative;
    padding: 0 30px 30px;
    display: flex;
    justify-content: space-between;
}


.autores li {
	flex-direction:column;
	align-items:flex-start;
}	

	.intro{
		width:calc(100% - 750px);
		margin-left:210px;
	}

    .sliderContainerComment{
        display: none;
    }  
    .comentario{
        display: block;
    }
		
		
    .containerLey{
        width:calc(100% - 440px);
        background-color: #ffffff;
        padding: 50px 40px;
        /* position: absolute;
        top: 20%;
        left: 30px; */
        border:1px solid #d1d3d4;
    }
    .containerComment{
        display: block;
        height: 100vmin;
        width: 380px;
        position: relative;
        /* top: 0%;
        left: calc(100% - 400px); */
    } 
		
    .containerLey p{
      text-align: justify;
			font-family: 'Crimson Pro', serif;
    }
		

		
		
   .comentario {
			 opacity:0;
			border: solid 5px #e6e7e8;
			position: absolute;
			padding: 15px;
			border-radius: 15px;
			transition: 0.4s all;
			margin-bottom: 10px;
			background:#f7f5f5;
			width:100%;
			left:0;
		}
 

		.comentario.visible {
			z-index:100;
			background:#fff;
			left:-60px;
			opacity:1;
		}


   .comentario.cierra{
		 opacity:0;
	 }

.comentario p {
	font-size:16px;
}


.cierra-comentario {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;
		background:url("../img/control-close.png") center no-repeat transparent;
		background-size:contain;
}

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 4px solid #e6e7e8;
}
.comentario.visible:after, 
.comentario.visible:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.comentario.visible:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 15px;
	margin-top: -15px;
}
.comentario.visible:before {
	border-color: rgba(230, 231, 232, 0);
	border-right-color: #e6e7e8;
	border-width: 21px;
	margin-top: -21px;
}




.dropdown-menu.show {
    display: block;
    position: relative!important;
    transform: translate(0,0) !important;
}


.sidebar.sticky {
    position: fixed;
    top: 0;
    width: 150px;
}

.agrupaDrop {
	display:block;
}

.agrupaDrop .dropdownArt,
.agrupaDrop .dropdownReacciones{
	display:block;
	width:100%;
}


}


.animaciones {

}

.animacion100 {
  width: 100%;
  height: 100vh;
  position: fixed;
	bottom:-80px;
	z-index:100; 
display:none;

 }
 
.animacionBandera {
  width: 100%;
  height: 100vh;
  position: fixed;
	bottom:-80px;
	z-index:100; 

display:none;
 }
 
 
.animacionBandera.startConfetti ,
.animacion100.startConfetti {
	display:flex;
	justify-content:center;
  align-items: flex-end;
	
}
 
.animado1 mark, .animado2 mark { cursor:pointer;}