/* FUENTES */

@import url("https://p.typekit.net/p.css?s=1&k=ryc8beu&ht=tk&f=14032.14034.14036.21512&a=2153897&app=typekit&e=css");

  @font-face {
  font-family:"aktiv-grotesk";
  src:url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/28158e/00000000000000003b9b4066/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
  }
  
  @font-face {
  font-family:"aktiv-grotesk-bold";
  src:url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/62681e/00000000000000003b9b406a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;
  }
  
  @font-face {
  font-family:"aktiv-grotesk-light";
  src:url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/76d40d/00000000000000003b9b4064/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;
  }
  
  @font-face {
  font-family:"aktiv-grotesk-thin";
  src:url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff2"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("woff"),url("https://use.typekit.net/af/cee6e5/00000000000000003b9b4062/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:200;
  }
  
  .tk-aktiv-grotesk { font-family: "aktiv-grotesk",sans-serif; } 
  
/* FUENTES */
body{
		font-family: 'Open Sans', sans-serif;
    font-weight:normal;
    margin:0 ;
    padding: 0; 
    overflow-x: hidden;
		font-size:16px;
  }
/* VARIABLES */
:root{
    --rosa: #f8d3e6;
    --celeste: #c9f4f6;
    --lila: #c5b6f7;
    --amarillo: #ffee8a;
}
/* VARIABLES */

/* COLOR TEXT */
.celeste {
    color: var(--celeste);
}
.lila {
    color: var(--lila);
}
.amarillo {
    color: var(--amarillo);
}
.rosa {
    color: var(--rosa);
}
.blanco {
    color: white;
}
/* COLOR TEXT */
.bgC {
    background-color: var(--celeste);
}
.bgG {
    background-color: #231F20;
    color: white;
}
.bgW{
    background-color: white;
}
/* gradiente de 4 colores y animacion */
.bggrad4col {
    background: linear-gradient(299deg, #f8d3e6, #c9f4f6, #c5b6f7, #ffee8a);
    background-size: 800% 800%;
    -webkit-animation: grad4col 13s ease infinite;
    -moz-animation: grad4col 13s ease infinite;
    animation: grad4col 13s ease infinite;
}

@-webkit-keyframes grad4col {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes grad4col {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes grad4col {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
/* FIN gradiente de 4 colores y animacion */
/* estilo amarillo y blanco gradiente  */
.bggradY {
    background: linear-gradient(299deg, #ffffff, #ffee8a);
    background-size: 400% 400%;

    -webkit-animation: gradientAnim 13s ease infinite;
    -moz-animation: gradientAnim 13s ease infinite;
    animation: gradientAnim 13s ease infinite;
}

/* FIN estilo amarillo y blanco gradiente  */

/* estilo celeste y blanco gradiente  */
.bggradC {
    background: linear-gradient(299deg, #ffffff, #c9f4f6);
    background-size: 400% 400%;

    -webkit-animation: gradientAnim 13s ease infinite;
    -moz-animation: gradientAnim 13s ease infinite;
    animation: gradientAnim 13s ease infinite;
}
/* FIN estilo celeste y blanco gradiente  */

/* animacion gradiente */

@-webkit-keyframes gradientAnim {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@-moz-keyframes gradientAnim {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
@keyframes gradientAnim {
    0%{background-position:0% 13%}
    50%{background-position:100% 88%}
    100%{background-position:0% 13%}
}
/* animacion gradiente */


*{
    font-size: 1rem;
    font-size: 16px;
    text-align: left;
}

h1{
  font-size: 4rem;
	font-weight:700;

}

h2{
  font-size: 3rem;
	font-weight:700;
		
}

h3 {
  font-size: 2rem;
}

strong {
	font-weight:700;
}


@media screen and (max-width: 991px) {

	h1{
			font-size: 3rem;
	}
	h2{
			font-size: 2rem;
	}
}

/* GENERICOS */



ul{
    margin:0!important;
    padding:0!important;
}
ul li{
    list-style: none;
    margin:0;
		padding:0
}

a, a:hover, a:focus {
	text-decoration:none;
}



/* HEDEAR */
.brand {
	width:100px;
}

#site-header {
	position: fixed;
	height: 70px;
	background:transparent;
	top: 0;
	padding:10px;
	width: 100%;
	z-index: 100;
	transition: all .3s ease;
	border-bottom:2px solid #231f20;
}
#site-header.hide {
    top: -70px;
}


/*SECTIONS*/
section{
  width:100%;
}
.intro {
	padding-top:80px;
	border-bottom: 2px solid #231f20;
}



/* TAGS estilo tags */
.tagContainer{
	display: flex;
  flex-wrap: wrap;
}


.tag a {
    padding: 6px 18px;
    border: solid 3px black;
    border-radius: 24px;
    font-size: 16px;
    margin: 0 8px 10px 0;
    display: block;
    color: black;
    transition: 0.3s all;
}

.tag a:hover,
.tag a:active{
    background-color: white;
 }
 
 
 
/*BUTTONS*/ 
/* estilo btn ver ley */
.btn  {
    padding: 10px 20px;
    border: solid 2px black;
    border-radius: 50px;
		text-align:center;
		color:#000;
		font-weight:700;

}
.btn-common{
    background-color: #c5b6f7;
}

.btnLey:hover{
 }





/* MENUIZACION */
.menu{
    background-color: #414042;
    width: 100%;
}
.menuItem{
	background-color: black;
	margin: 0%;
	width: 100%; 
	padding:20px;
	border-bottom:3px solid #414042;
}

.menuItem a {
	display:block;
	padding-right:40px;
}  
	
.menuItem a.celeste {
	background:url("../img/flecha-01.svg") no-repeat right center;
	background-size:30px;
}  
.menuItem a.lila {
	background:url("../img/flecha-02.svg") no-repeat right center;
	background-size:30px;
}  
	
	
.menuItem a.rosa {
	background:url("../img/flecha-03.svg") no-repeat right center;
	background-size:30px;
}  
		
.menuItem a.amarillo {
	background:url("../img/flecha-04.svg") no-repeat right center;
	background-size:30px;
}  
			
.menuItem a.blanco {
	background:url("../img/flecha-05.svg") no-repeat right center;
	background-size:30px;
}  
	

	
	
/* MENUIZACION */


/* CARD */
.card{
    background-color: #414042;
    border-radius: 40px;
    height: 800px;
    margin-bottom: 5%;
    box-shadow: 2px 1px 19px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 2px 1px 19px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 2px 1px 19px 0px rgba(0,0,0,0.22);
}
.cardContent{
    background-color: white;
    border-radius: 40px;
    margin-bottom: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
.cardTag{
    float: left;
    color: #6CBCBA;
}
.cardDate{
    float:right;
    color: #A7A9AC;
}
/* CARD */
.btnHoja{
    background-color: var(--celeste);
    padding: 1rem 5rem;
    border: solid 3px black;
    border-radius: 50px;
    font-size:x-small;
    font-weight: bold;
}

.autorIcon{
    background-color: #c5b6f7;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 1em;
    margin: 1em;
}
blockquote{
    background-color: #231F20;
    color: white;
    font-size: 1.3em;
    width: 101%;
    margin-left: 0%;
    margin-top: 15% !important;
    margin-bottom: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 10%;
    padding-right: 10%;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: -10% !important;
    margin-inline-end: 0px !important;

}
.ampliar{
    margin: 0.5em 0;
}
.ampliar:hover{
    cursor: pointer;
}
 

 /* FOOTER */
footer{
    background-color: #231f20;
    color: white;
}

.footer-brand {
	overflow:hidden;
}
.footer-brand img{
	height:45px;
}
/* FOOTER */